.conten h2{
    font-size: 25px;
    margin-bottom: 0;
    padding: 50px 0 20px 0;
    font-weight: 700;
}
.boms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.xt{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    background: red;
    border-radius: 5px;
}