footer{
    background: var(--black-color);
    color: var(--white-color);
    padding: 20px;
}

.name{
    font-size: 20px;
}

.box p{
    margin-bottom: 5px;
}
.boxIcon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;

    i{
        margin: auto;
    }
}

